<h3 style="text-align:center; margin-top:50px">Product Details</h3>
<div style="margin-top: 70px;">
  <div class="container mt-5 mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-10">
        <div class="card">
          <div class="row">
            <div class="col-md-6">
              <div class="images p-3">
                <div class="text-center p-4"> <img id="main-image" src="{{beltkr.image}}" width="300" height="250" />
                </div>

              </div>
            </div>
            <div class="col-md-6">
              <div class="product p-4">
                <div class="mt-4 mb-3"> <span class="text-uppercase text-muted brand">Status: {{beltkr.status}} </span>
                  <br>
                  <h5 class="text-uppercase">{{beltkr.name}}</h5>
                  <div class="price d-flex flex-row align-items-center"> <span
                      class="act-price">${{beltkr.price}}</span>
                  </div>
                </div>
                <p class="about">
                  {{beltkr.description}}</p>
                </p>
                <div class="cart mt-4 align-items-center"> <button class="btn btn-danger text-uppercase mr-2 px-4">
                    Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>