<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <meta name="generator" content="Hugo 0.84.0">

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/product/">

  <!-- Bootstrap core CSS -->
  <link href="/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">


</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <img
        src="https://www.adobe.com/content/dam/cc/us/en/creativecloud/design/discover/mascot-logo-design/mascot-logo-design_fb-img_1200x800.jpg"
        style="width: 90px;" alt="KamenRiderShop Logo">
      <h5>KamenRiderShop</h5>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/" style="color: #555; font-weight: bold; text-transform: uppercase;">Home</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false" style="color: #555; text-transform: uppercase; font-weight: bold;">Category
              Product</a>
            <div class="dropdown-menu" aria-labelledby="dropdownId">
              <a class="dropdown-item" href="beltkr" style="color: #555;">KamenRider Belt</a>
              <a class="dropdown-item" href="weaponkr" style="color: #555;">KamenRider Weapon</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="login"
              style="color: #555; font-weight: bold; text-transform: uppercase;">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <main>
    <h4 style="text-align: center; margin: 30px 0 30px 0"><strong>Weapon Kamen Rider</strong></h4>

    <div class="row">
      {{#each weaponkr }}
      <div class="col-lg-4 col-md-12 mb-4">
        <div class="card shadow-sm">
          <a href="/weaponkr/detail/{{_id}}">
            <img width="400" height="350" src="{{image}}" alt="">
          </a>

          <title>{{ name }}</title>
          <div class="card-body">
            <div class="mask" style="background-color: rgba(0, 0, 0, 0.3);">
              <div class="d-flex justify-content-start align-items-start h-100">
                <h5><span class="badge bg-light pt-2 ms-3 mt-3 text-dark">$ {{ price }}</span>
                  <button type="button" class="btn btn-sm btn-outline-secondary" style="margin-left:100px; "><a
                      href="/weaponkr/detail/{{_id}}" style="text-decoration: none; color: #FFFAF0">View
                      Details</a></button>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </main>
  <div class="container my-5">
    <footer class="text-center text-lg-start" style="background-color: grey;">
      <div class="container d-flex justify-content-center py-5">
        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="bi bi-facebook"></i>
        </button>

        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="bi bi-instagram"></i>
        </button>

        <button type="button" class="btn btn-primary btn-lg btn-floating mx-2" style="background-color: #54456b;">
          <i class="bi bi-twitter"></i>
        </button>
      </div>

      <!-- Copyright -->
      <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2023 Copyright: KamenRiderShop
      </div>
    </footer>
  </div>

  <script src="/docs/5.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>


</body>

</html>